site_name: IT-Basis - Überblick über das Web und Programmiersprachen

nav:
  - Übersicht: index.md
  - HTML CSS: content/HTML_CSS/1.md
  - JavaScript: content/JavaScript/1.md
  - XML: content/XML/1.md
  - Java Grundlagen: content/Java_Grundlagen/1.md
  - Java Aufbau: content/Java_Aufbau/1.md
  - Application Server: content/Application_Server/1.md
  - Low Code: content/Low_Code/1.md


theme:
  name: material
  palette:
    primary: blue
    accent: green
    # primary: amber
    # accent: deep orange
  logo: assets/logo.png
  favicon: assets/favicon.png
  features:
    - navigation.tracking
    - navigation.path
    - navigation.top
    - navigation.footer
    - toc.follow
    - toc.integrate
    - content.code.copy
    - content.code.annotate

markdown_extensions:
  - pymdownx.keys
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: true

extra_css:
  - stylesheets/logo.css
  - stylesheets/grid.css
  - stylesheets/video_admonition.css
  - stylesheets/python_tutor_admonition.css
  - stylesheets/mermaid.css
  - stylesheets/cd.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  
plugins:
    - search
    - macros

extra:
  social:
    - icon: fontawesome/solid/globe
      link: https://www.foerde-campus.de/

watch:
  - tasks

copyright: Copyright &copy; 2026 Qualidy GmbH