h1, h2, h3, h4, h5, h6 {
    --md-default-fg-color--light: #0097ce;
}

* {
    font-family: 'Roboto', sans-serif;
}

:root  > * {
    --md-footer-bg-color: #003863;
    --md-default-fg-color--light: #0097ce;
}

.md-footer__inner {
    background-color: #0097ce;
}
